body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7ebff;
    color: #333;
}
header {
    background-color: #60acf9;
    color: #d9d9d9;
    text-align: center;
    padding: 20px;
}
section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #007bff;
}
a {
    color: #737373;
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #0056b3;
}
ul, ol {
    padding-left: 20px;
}
li {
    margin: 10px 0;
}
footer {
    background-color: #60acf9;
    color: #d9d9d9;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.skill-bar {
    background-color: #a6a6a6;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin: 5px 0;
}
.skill-level {
    background-color: #007bff;
    height: 100%;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project {
    flex: 1 1 calc(50% - 20px);
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project strong {
    display: block;
    margin-bottom: 5px;
}
.project p {
    margin: 0;
    line-height: 1.5;
}
.project em {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 0.9em;
}